@media ( min-width : 768px) .navbar-nav {
	float
	:
	 
	right
	;
	
    
	margin
	:
	 
	0;
}

.navbar-custom-menu {
	float: right;
	position: relative;
}

#footer img {
    width:100%;
}

#footer{
	background-color: #1c88af;


}
@media (max-height: 720px) {


#footer{
    background-color: #1c88af;
    position: fixed;
    display: none;
    bottom: 0px;
    height: 50px;
    z-index:1000;
  

}
}