@media ( min-width : 768px) .navbar-nav {
	float
	:
	 
	right
	;
	
    
	margin
	:
	 
	0;
}

.navbar-custom-menu {
	float: right;
	position: relative;
}

#footer img {
    width:100%;
}

#footer{
	background-color: #1c88af;
}