.alfrescocontenedor {
position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;
}

.alfrescocontenedor iframe {
  position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

