archivos/*
blocks/reportes/certificadoNoInternet/entidad/firmas/*
blocks/gestionComisionamiento/generacionActas/entidad/directorio_actas/*
blocks/gestionBeneficiarios/generacionContrato/entidad/imagenes/*
blocks/gestionBeneficiarios/generacionContrato/entidad/firmas/*
blocks/gestionBeneficiarios/generarContratosMasivos/entidad/archivos_validar/*
blocks/gestionBeneficiarios/generarContratosMasivos/entidad/logs/*
config/config.inc.php
blocks/reportes/generarActasMasivos/entidad/archivos_validar/*
blocks/reportes/generarActasMasivos/entidad/logs/*
blocks/reportes/plantillaFamiliares/entidad/logs/*
vendor/*
blocks/reportes/plantillaInfoTecnica/entidad/logs/*
blocks/reportes/plantillaResultadoCom/entidad/logs/*
blocks/reportes/plantillaBeneficiario/entidad/logs/*
blocks/reportes/plantillaBeneficiario/entidad/archivos_validar/*

