archivos/*
blocks/reportes/certificadoNoInternet/entidad/firmas/*
blocks/gestionComisionamiento/generacionActas/entidad/directorio_actas/*
blocks/gestionBeneficiarios/generacionContrato/entidad/imagenes/*
config/config.inc.php
